@import './Color.module';

.Banner{
    display: flex;
    flex-direction:row;
    background-color: $gray;
    width: 70vw;
    max-height: 20rem;
    align-items: center;
    max-width: 96rem;
    margin: auto;
    @media screen and (min-width:1650px){
        max-height: 33rem;
    }
    @media screen and (max-width:768px){
        width: 100%;
        min-height: 10rem;
    }
    .imageWrapper{
        width: 25%;
        height: 100%;
        @media screen and (max-width:768px) {
            width: 50%;
        }
        .image{
            width: 100%;
            height: 100%;
        }
    }
    .container{
        display: flex;
        flex-direction:column;
        height: 100%;
        justify-content: center;
        width: min(100% - 2rem, 50rem);
        margin: 0 auto;
        @media screen and (max-width:600px){
            padding: 0 1rem;
        }
        .title{
            position:relative;
            font-size:3rem;
            line-height: 3.8rem;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 0.5rem;
            @media screen and (min-width:1650px){
                font-size: 4rem;
                line-height: 1.8;
            }
            @media screen and (max-width:1024px){
                font-size: 2.5rem;
                line-height: 2.8;
            }
            @media screen and (max-width:768px) {
                font-size: 2rem;
                line-height: 2.4;
            }
            @media screen and (max-width:600px){
                font-size: 1.25rem;
                line-height: 1.4;
                display: flex;
                flex-direction:column;
            }
            &::after{
                content:"";
                bottom: 0;
                left: 0;
                position:absolute;
                width:100%;
                border:1px solid $black;
            }
        }
        .description{
            display: flex;
            font-size: 1.25rem;
            font-weight: 400;
            color:$main-font-color;
            opacity: 0.60;
            align-self:flex-end;
            padding-top:1rem;
            @media screen and (min-width:1650px){
                font-size: 2rem;
                line-height: 2.8;
            }
            @media screen and (max-width:1024px){
                font-size: 1rem;
            }
            @media screen and (max-width:600px){
                font-size: 0.85rem;
                padding-top: 0;
            }
        }
    }
}