@import './Color.module';

.CategoryShow{
    .container{
        max-width: 119rem;
        margin: auto;
        padding:0 0.5rem;
        display:grid;
        min-height: 40rem;
        height: 100%;
        grid-template-columns:repeat(4, 1fr);
        gap: .75rem;
        .topCenter{
            background-position: top center;
        }
        .largeImageVertical{
            grid-row: span 2;
            background-color: red;
        }
        .largeImageHorizontal{
            background-color: blue;
            grid-column: span 2;
        }
    }
}
@media screen and (min-width:1650px){
    .CategoryShow .container{
        min-height: 40rem;
    }
}
@media screen and (max-width:600px){
    .CategoryShow .container {
        div{
            grid-column: span 2;
            &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5){
                grid-row:span 2;
            }
        }
    }
}