@import './Color.module';
.Footer {
    margin: 5rem 1rem;
    .container {
        display: grid;
        grid-template-columns: 20% 1fr 25%;
        align-items: baseline;
        .logo a {
            text-decoration: none;
            color: $main-font-color;
            font-weight: 500;
            font-size: 1.5rem;
        }
        .links {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            text-align: center;
            a,
            li {
                text-decoration: none;
                color: $main-font-color;
                list-style: none;
                cursor: pointer;
            }
            .infoLinks ul,
            .navLinks,
            .socialLinks ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                a,
                li {
                    margin: 0.5rem 0;
                    text-align: center;
                    text-transform: capitalize;
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
        .join {
            .header {
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 500;
            }
            form {
                display: flex;
                flex-direction: column;
                label {
                    font-size: 1rem;
                    color: $main-font-color;
                    font-weight: 200;
                    margin: 1rem 0;
                }
                input {
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $main-font-color;
                    background-color: $background-color;
                }
                input[type='submit'] {
                    -webkit-appearance: button;
                    -moz-appearance: button;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    padding: 1.25rem 4rem;
                    border: 1px solid $main-font-color;
                    font-size: 1rem;
                    color: $main-font-color;
                    background: $item-background-color;
                    margin: 2rem 0;
                    cursor: pointer;
                    &:active,
                    &:focus,
                    &:hover {
                        background: $main-font-color;
                        color: $secondary-font-color;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px){
    .Footer .container{
        .logo a{
            font-size:1.125rem;
        }
        .join{
            .header{
                font-size:1.5rem;
            }
        }
    }
}
@media screen and (max-width:768px){
    .Footer .container{
        .logo a{
            font-size:0.8rem;
        }
        .links{
            .navLinks a,
            .infoLinks ul li,
            .socialLinks ul li{
                font-size:0.8rem
            }
        }
        .join{
            .header{
                font-size:1.125rem;
            }
            form{
                label{
                    margin:0.75rem 0;
                }
                input[type='submit']{
                    padding:0.85rem 3rem;
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    .Footer .container{
        grid-template-columns:1fr;
        text-align:center;
        grid-gap:1.5rem;
        .logo a{
            font-size:1.235rem;
        }
        .links{
            grid-template-columns:inherit;
            .navLinks a,
            .infoLinks ul li,
            .socialLinks ul li{
                font-size:1rem;
            }
        }
        .join .header{
            font-size:1.5rem;
        }
    }
}