@import './Color.module';

.HomeProductCard{
    .container{
        padding:2rem 1rem;
        display: flex;
        flex-direction:column;
        max-width: 100rem;
        margin:0 auto;
        .productsInfo{
            padding-bottom: 3rem;
            .title{
                font-size:2rem;
                padding-bottom: 1rem;
                width: 100%;
            }
            .description{
                width: 100%;
            }
        }
        .productsContainer{
            display: grid;
            max-width: 80rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap:1rem;
            margin: auto;
            width: min(100% - 6rem, 90%);
        }
    }
}

@media screen and (min-width:768px){
    .HomeProductCard{
        .container{
            padding-left:1.5rem;
            padding-right:1.5rem;
            .productsContainer{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width:1024px){
    .HomeProductCard .container{
        padding-left:3rem;
        padding-right:3rem;
        .productsInfo{
            display: flex;
            flex-direction:row;
            justify-content:space-between;
            align-items: flex-start;
            .title{
                font-size: 1rem;
            }
            .description{
                font-size:0.85rem;
            }
        }
        .productsContainer{
            width: min(100% - 6rem, 90%);
        }
    }
}

@media screen and (min-width:1440px){
    .HomeProductCard{
        .container{
            width: min(100vw - 12rem, 90%);
            padding:3rem 0;
            .productsInfo{
                .title{
                    font-size: 1.5rem;
                    max-width: 50vw;
                }
                .description{
                    font-size: 1rem;
                    justify-content: flex-end;
                }
            }
        }
    }
}
@media screen and (min-width:1650px){
    .HomeProductCard .container{
        .productsInfo{
            .title{
                font-size: 2.5rem;
            }
            .description{
                font-size: 1.5rem;
            }
        }
        .productsContainer .product .productInfo{
            .title{
                font-size: 1.5rem;
            }
        }
    }
}