@import './Color.module';
.skeletonShop {
    margin: 7rem auto;
    max-width:119rem;
    width:100%;
    .skeletonProduct {
        .skeletonContainer {
            width: 75vw;
            margin:3rem 2rem;
            margin-left: auto; 
            .skeletonItems {
                display: grid;
                position:relative;
                grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
                grid-column-gap: 3rem;
                grid-row-gap: 2.5rem;
                justify-content: center;
                .skeletonItem {
                    @include item;
                    width: 326px;
                    height: 350px;
                    background-color: $main-font-color;
                    animation: skeleton 1s ease infinite alternate;
                    margin: 0;
                }
            }
        }
    }
}
