@import '../../../style/Color.module';
.Shop {
    position: relative;
    margin: 7rem auto;
    max-width: 119rem;
    width: 100%;
    .Product {
        .container {
            display: flex;
            flex-direction: row;
            padding: 3rem 2rem;
            position:relative;
        }
    }
}
@media screen and (min-width:1650px) {
    .Shop .Product .container .items{
        grid-template-columns: repeat(4, 350px);
    }
}
@media screen and (max-width:1024px) {
    .Shop{
        .Product .container{
            padding-left:3rem;
            padding-right:3rem;
        }
    }
}
@media screen and (max-width:768px) {
    .Shop {
        .Product .container{
            padding-left:1rem;
            padding-right:1rem
        }
    }
}
@media screen and (max-width:600px){
    .Shop .Product{
        .container {
            padding-left:1rem;
            padding-right:1rem;
            .items {
                grid-template-columns: repeat(2, 160px);
                grid-column-gap: 1rem;
                .item a #quicView{
                    padding:1rem 2rem;
                }
            }
        }
    }
}