*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.Nav{
  display: flex;
  width: 90%;
  margin: 1rem auto;
  justify-content: space-between;
  position: relative;
  align-content: center;
  a{
    color: inherit;
    text-decoration: none;
  }
  .logo{
    font-size: 1rem;
  }
  .links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    a{
      padding:  0 .5rem;
    }
    .current{
      color: #555;
    }
    
  }
  .menu{
    .mobileMenu{
      display: none;
  }
  
  .cart{
    span{
      position: absolute;
      font-size: .7rem;
      top: -.5rem;
    }
  }
  }
  
}
.Home{
  .landing{ 
    .container{
      width:90%;
      margin:0 auto;
      .text{
        
      }
      .btn a input{
        padding: 1rem 1.5rem;
        margin: 1.5rem 0 ;
        cursor: pointer;
        border: none;
        border-radius: 5%;
        -moz-border-radius:5%;
        -webkit-border-radius:5%;
      }
    }
  }

  .top-rated{
    margin: 0 1.5rem;
  
  }
  
  // Carousel Style
  .carousel{
    position: relative;
    .controllers{
    position:absolute;
    width: 100%;
    top: 40%;
    .next{
      position: absolute;
      right:0%;
    }
    }
    .Product{
    cursor: pinter;
    .container{
      .items{
        display: grid;
        // gap: .2rem;
        grid-template-rows: min-content;
        grid-auto-flow: column;
        grid-auto-columns: 21%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;

        .item{
          // padding: .2rem;
          border-radius: 5%;
          -moz-border-radius:5%;
          -webkit-border-radius:5%;
          margin-top: 0;

          .image > img{
          inline-size: 100%;
          // aspect-ratio: 16 / 9;
          object-fit: cover;
        }
        }
        
      }
    }
  }
  }
  
  
}
.Product{
  .container{
    width: 90%;
    margin:auto;
    .items{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .filter-price{
        margin: -2.3rem 10rem ;
        position: absolute;
      }
      .item{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
        max-width: 250px;
        min-height: 350px;
        margin: 2rem 0;
        background:rgba(250, 248, 248, 0.603)
        ;
        .image {
          img{
          height: 200px;
          width: 100%;
          max-width: 200px;
          background-color: black;
          }
          :hover{
            transform: scale(1.2);
            transition: ease-in-out 1s;
          }
        }
        .title{
          width: 90%;
          margin: auto;
          font-size: 1rem;

        }
        .price{
          margin: 1rem 0;
        }
        a input{
          margin: .5rem 0;
          padding: .8rem 2.3rem;
          border: none;
          border-radius: .5rem;
          -webkit-border-radius:.5rem;
          -moz-border-radius: .5rem;
          text-transform: uppercase;
          display: none;
          position: absolute;
          top: 50%;
          left: 25%;
          transition: ease-in-out 1s;
          cursor: pointer;

        }

      }
    }
  }
}
.Shop{
  margin: 5rem 0 ;
  .filter{
    margin: 1rem;
  }
  
}
.SelectedProduct{
  width: 100%;
  position: relative;
  height: 100vh;

  .close{
    text-align: right;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    a{
      text-decoration: none;
      color: inherit;
    }
  }
  .container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin:  5rem auto;
    text-align: center;
    .image{
      width: 100%;
      height: 100%;
      img{
        max-width: 200px;
        max-height: 200px;
      }
    }
    .item-info{
      margin: 0 3rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      .title{
        font-size: 1.5rem;
        font-style: bold;
        margin: 0 0 1rem ;
      }
      .title, .description{
        width: 25rem;
      }
      .price, .description, .qty, .add-to-cart{
        font-size: 1rem;
        margin: 1rem 0;
        
      }
      .add-to-cart{
        padding: 1rem 2.5rem;
        text-transform: uppercase;
      }
    }
  }
  .cartPreview{
    position: absolute;
    display: none;
    height: 25vh;
    top: 5rem;
    left: 70%;
    background:#fff;
    z-index: 1;
    width: 25%;
    .titles{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 1rem;
      .control-btn{
        display: inherit;
        align-items: center;
      }
    }
    .container{
      display: flex;
      margin: auto;
      align-items: center;
      justify-content:space-between;
      .added-item{
        .item-img img{
        width: 100%;
        height: 100px;
        }
      }
      .cart-container{
        input{
          width: 8rem;
          height: 2rem;
          margin: 1rem 0;
          cursor: pointer;
        }
      }
    }
  }

}
.Cart{
  .container{
    width: 90%;
    margin: auto;
    .labels{
      display: flex;
      flex: 1 0 auto;
      justify-content: space-between;
      .title{
        max-width: 35rem;
        flex-grow: 1;
        width: 100%;
      }
    }
    .items{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;
        border-bottom: 1px solid gray;
        flex: 1 0;
        .info{
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: none;
          max-width: 35rem;
          width: 100%;
          flex-grow: 1;
          .remove{
            margin: 0 1rem 0 0;
            input{
              border: none;
              background-color: inherit;
            }
          }
          .image img{
            max-width: 5rem;
            max-height: 4rem;
          }
          .title{
            margin: 0 1rem;
          }
        }
        .qty{
          flex-grow: 1;
          text-align: center;
          input{
            max-width: 5rem;
          }
        }
        .price{
          flex-grow: 1;
          text-align: end;
        }
      }
      .subtotal, .checkout{
        align-self:end;
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (max-width:600px){
  .Nav{
    .logo{
      font-size: 1.2rem;
    }
    .links{
        display: none;
        position: relative;
        justify-content: unset;
        transform: translate(-75%, 25%);
        transition:transform 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
        will-change: transform;
        height: 100vh;
        flex-direction: column;
        a{
          margin: 2rem 0;
          font-size: 1.5rem;
        }
      }
      .menu{
        display: flex;
        justify-content: space-between;
        .mobileMenu{
          display: block;
          margin: 0 1rem;
          transition: all  2s ease-out;
        }
      }
    
    
  }
  .Home{
    .Product{
      width: 90%;
      margin: 7rem auto;
      .container{
        overflow: scroll;
        .items{
          display: flex;
          overflow: hidden;
          .item{
            flex:1 0 30%;
            margin: 0 2rem;
          }
        }
      }
    }
  }
}