@import './style/locomotive.css';
$gray:rgba(196, 196, 196, 1);

$item-background-color:#ffffff;
$main-font-color:#28292b;
$secondary-font-color:#818181;
$secondary-light-font-color:#94979a;
$tertiary-font-color:#5e99da;
$tertiary-strong-font-color:#5e99da;
$background-color:#f0f4f7;
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  scroll-behavior: smooth;
  background-color: $background-color;
}
.App{
  min-height: 100vh;
}
.Nav{
  display: flex;
  width: 100vw;
  padding: 1rem 2rem;
  justify-content: space-between;
  flex-direction: row;
  position:fixed;
  top: 0;
  left: 0;
  align-content: center;
  align-items:center;
  line-height: 50px;
  background-color: $background-color;
  z-index: 10;
  a{
    color:$main-font-color;
    font-size:1.2rem;
    text-decoration: none;
  }
  .logo{
    font-size: 1.5rem;
  }
  .logo, .links a, .menu,  .menu .cart a{
    z-index: 1000;
  }
  .links{
    width:75%;
    display:flex;
    justify-content: flex-end;
    li{
      list-style:none;
      opacity: 1;
      transform: none;
      margin:0 1rem;
      &:hover a{
        color:$gray;
      }
    }
    .current{
      color: $gray;
    }
  }
  .menu{
    margin-right:2rem;
    .cart{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after{
        content: attr(data-items);
        position:absolute;
        top:-0.2rem;
        right:-0.75rem;
        color: black;
        width:1.5rem;
        height:1.5rem;
        display:flex;
        justify-content:center;
        align-items:center;
      }

      // span{
      //   position: absolute;
      //   font-size: .7rem;
      //   top: -.85rem;
      //   right: 0;
      // }
    }
  }
}
@mixin item{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 160px;
  max-width: 240px;
  min-height: 280px;
  max-height: 370px;
  object-fit: contain;
  transition: transform 450ms;
  background-color:$item-background-color;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
    .image {
      img{
      height: 150px;
      width: 100%;
      margin: 1rem auto;
      max-width: 140px;
      display: block;
      position: relative;
      }
    }
    .title{
      width: 90%;
      margin: 0 auto;
      font-size: 1rem;
      color: $secondary-font-color;
      text-overflow: ellipsis;
      overflow:hidden;
      white-space: nowrap;
    }
    .price{
      color: $tertiary-font-color;
      margin: 1rem 0;
    }
    a {
      text-decoration: none;
      #quickView{
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-appearance: button;
      -moz-appearance: button;
      padding:1rem 2.5rem ;
      color: $main-font-color;
      background-color: $item-background-color;
      border: none;
      border-radius: .5rem;
      -webkit-border-radius:.5rem;
      -moz-border-radius: .5rem;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      
    }
  }
    
}
@media (hover: hover){
  .item{
    a #quickView{
      display: none !important; 
    }
    &:hover, &:focus{
      transform: scale(1.2);
      transition: ease-in-out 1s;
      z-index: 1;
      background-color: #ffff;
      a #quickView{
        display: flex !important;
      }
    }
  }
}
// .Home{
//   overflow: hidden;
//   // padding: 1rem 0;
//   .landing{
//       height: 100vh;
//       overflow: hidden;
//       // min-height: 100vh;
//       position: relative;
//       .bg-image{
//         height: 100%;
//         position: relative;
//         background-attachment: fixed;
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//         top: 5rem;
//       }
//       @supports (-webkit-touch-callout:none){
//       .bg-image{
//         background: center top no-repeat scroll ;
//         background-size: auto 100%;
//       }
//     }
//     .container{
//       position:absolute;
//       top: 35%;
//       left: 15%;
//       width: 70%;
//       text-align: center;
//       background: #c4c4c463;
//       box-shadow: 10px 10px 20px $main-font-color;
//       .text{
//         font-size: 2rem;
//         font-weight: 600;
//         color: $main-font-color;
//         p{
//           width: 70%;
//           margin: 1rem auto;
//           text-align: center;
//         }
//       }
//       .btn {
//         a  #collectionBtn{
//           background-color: $main-font-color;
//           color: $item-background-color;
//           width: 10rem;
//           height: 3rem;
//           margin: 1.5rem 0 ;
//           cursor: pointer;
//           border: none;
//           border-radius: 5%;
//           -moz-border-radius:5%;
//           -webkit-border-radius:5%;
//         }
//       }
//     }
//     .arrow{
//       position: absolute;
//       bottom: 10%;
//       left: 5%;
//       font-size: 2rem;
//       cursor: pointer;
//       a{
//         color: $main-font-color;
//       }
//     }
//   }

//   .top-rated{
//     margin: 0 1.5rem;
//     font-size: 1.3rem;
//     color: $main-font-color;
//   }
// }

// .Shop{
//   margin: 7rem 0 ;
//   .filter{
//     margin: 1rem;
//     select{
//       color: $main-font-color;
//       border: none;
//       height: 2.5rem;
//       width: 10rem;
//     }
//   }
//   .Product{
//   .container{
//     width: 90%;
//     margin: 0 auto;
//     .items{
//       position: relative;
//       display: grid;
//       grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
//       grid-column-gap:1rem ;
//       grid-row-gap:2rem;
//       justify-content: center;
//       .item{
//         @include item;
//       }
//     }
//   }
// }

// }
.SelectedProduct{
  width: 100%;
  position: absolute;
  max-height: 100vh;
  height: 100%;
  top: 0;
  left:0;
  background-color: $item-background-color;
  z-index: 300;
  overflow-x: hidden;
  .close{
    text-align: right;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    a{
      text-decoration: none;
      color: $main-font-color;
    }
  }
  .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin:0 auto;
    margin-top:5rem;
    top:25%;
    text-align: center;
    .image{
      width: 100%;
      height: 100%;
      img{
      //   max-width: 200px;
      //   max-height:200px;
        max-height: 550px;
        height: 100%;
        max-width: 100%;
      }
    }
    .item-info{
      margin: 0 3rem; 
      width: 50%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      .title{
        font-size: 3.5rem;
        font-weight: bold;
        margin: 0 0 1rem ;
        color:$secondary-font-color;
      }
      .description{
        color: $secondary-light-font-color;
      }
      .price{
        color: $tertiary-strong-font-color;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .description, .qty, .add-to-cart{
        font-size: 1.125rem;
        margin: 1rem 0;

      }
      .add-to-cart{
        -webkit-appearance: button;
        color: $main-font-color;
        background-color: $gray;
        padding: 1.5rem 2.5rem;
        width: 86vw;
        border: none;
        text-transform: uppercase;
        text-align: initial; 
        cursor: pointer;
      }
    }
  }


}
// .cartPreview{
//     position: absolute;
//     display: none;
//     max-height: 75vh;
//     height: 100%;
//     top: -4rem;
//     right:0;
//     background:$item-background-color;
//     box-shadow : -10px 5px 20px $secondary-font-color;
//     z-index: 1;
//     max-width: 25vw;
//     width: 100%;
//     animation:3s ease-in-out;
//     .titles{
//       align-items: center;
//       .control-btn{
//         display: flex;
//         justify-content: space-between;
//         margin: auto 1rem;
//         align-items: center;
//         a{
//           color: $main-font-color;
//           text-decoration:none;
//           font-size:1.1rem
//         }
//       }
//     }
//     .container{
//       display: flex;
//       flex-direction: row;
//       margin: 0 auto;
//       height: 50%;
//       background:$item-background-color;
//       .added-item{
//         display: flex;
//         height: 100%;
//         align-items: center;
//         justify-content:space-around;
//         .item-img {
//           img{
//           width: 125px;
//           height: 50%;
//           }
//         }
//         .added-item-info{
//           font-size: 1.5rem;
//           color: $main-font-color;
//           display: flex;
//           height: 50%;
//           margin: 0 1rem;
//           flex-direction: column;
//           justify-content: space-around;
//         }
//       }

//     }
//     .cart-container{
//       display: flex;
//       flex-direction:column;
//       align-items: center;
//         .cart-info{
//           font-size: 1.1rem;
//           text-align: center;
//           width: 70%;
//         }
//         a input{
//           width: 10rem;
//           height: 3rem;
//           margin: 2rem 0;
//           cursor: pointer;
//           border-radius:5%;
//           -webkit-border-radius:5%;
//           -moz-border-radius:5%;
//           border:none;
//           font-size: 1.25rem;
//           color: $main-font-color;
//         }
//       }
//   }
// .Cart{
//   margin: 5rem 0;
//   height: 100%;
//   min-height: 100vh;
//   .msg{
//     width: 90%;
//     margin-left:2rem;
//     margin-top:6rem;
//     font-size:1.5rem;
//   }
//   .container{
//     width: 90%;
//     margin: auto;
//     .labels{
//       text-align: center;
//       grid-template-columns: 55% 25% 20%;
//       .title{
//         max-width: 35rem;
//         flex-grow: 1;
//         width: 100%;
        
//       }
//     }
//     .item, .labels{
//       display: grid;
//     }
//     .items{
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       .item{
//         grid-template-columns: 2% 53% 25% 20%;
//         box-sizing: border-box;
//         align-items: center;
//         margin: 1rem 0;
//         border-bottom: 1px solid gray;
//         flex: 1 0;
//         .remove{
//             margin: 0 1rem 0 0;
//             cursor: pointer;
//             input{
//               border: none;
//               color: $main-font-color;
//               background: none;
//             }
//           }
//         .info{
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           border-bottom: none;
//           max-width: 35rem;
//           width: 100%;
//           flex-grow: 1;
//           .image img{
//             width: 100%;
//             height: 100%;
//             max-width:15rem;
//             max-height: 10rem;
//           }
//           .title{
//             margin: 0 1rem;
//             text-overflow: ellipsis;
//             white-space: nowrap;
//             overflow: hidden;
//           }
//         }
//         .qty{
//           flex-grow: 1;
//           text-align: center;
//           input{
//             max-width: 5rem;
//           }
//         }
//         .price{
//           flex-grow: 1;
//           text-align:center
//         }
//       }
//       .subtotal, .checkout{
//         align-self:end;
//         margin: 1rem 0;

//       }
//       .checkout .checkout-btn{
//           -webkit-appearance: button;
//           color: $main-font-color;
//           padding: 1rem 2.5rem;
//           text-transform: capitalize;
//           cursor: pointer;
//         }
//     }
//   }
//   .msg a{
//     padding: 0  0 0 .5rem ;
//   }
// }
.About{
  margin: 7rem 0 0 ;
  .header{
    font-size: 2.5rem;
    text-align: center;
    color: $main-font-color;
    font-weight: bold;
    text-transform: uppercase;
  }
  .container > #designer-image{
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 2.5rem 0;
    .title{
      font-size: 2rem;
      color: $secondary-font-color;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 5px;
    }
    .line{
      border-bottom: 3px solid $background-color;
      width: 6%;
      margin: 1rem auto;
    }
    .brand, .designers{
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      min-height: 90vh;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      background: $main-font-color;
      p{
        width: 70%;
        margin: 1rem auto;
        font-size: 1rem;
        color: $secondary-light-font-color;
      }
    }
    .image{
      min-height: 700px;
      // background: center center no-repeat fixed;
      background: center center no-repeat ;
      background-size:cover;
    }
    @supports (-webkit-touch-callout:none){
      .image{
        background: center top no-repeat scroll ;
        background-size: auto 100%;
      }
    }
  }
}
// .Contact{
//   .header{
//     font-size: 3rem;
//     color: $main-font-color;
//     text-transform: uppercase;
//     font-weight: 500;
//     margin: 5rem 0;
//     text-align: center;
//     letter-spacing: 5px;
//   }
//   .container{
//     background-color: $secondary-font-color;
//     .mini-header{
//       font-size: 1.5rem;
//       color: $main-font-color;
//       font-weight: 500;
//       text-align: center;
//       padding: 5rem 0 2rem;
//       text-transform: uppercase;
//       letter-spacing: 3px;
//     }
//     .line{
//       width: 2%;
//       margin: 0 auto;
//       border-bottom: 3px solid $main-font-color;
//     }
//     .info{
//       display: grid;
//       grid-template-columns: repeat(3,1fr);
//       margin: 5rem 0 2rem;
//       text-align: center;
//       .title{
//         font-size: 1.5rem;
//         text-transform: capitalize;
//         font-weight: 400;
//         color: $main-font-color;
//         font-style: italic;
//       }
//       .text{
//         font-size: 1.25rem;
//         color: $main-font-color;
//         font-weight: 100;
//         max-width: 55%;
//         text-align: center;
//         padding: 1rem 0;
//         margin: 0 auto;
//         width: 100%;
//       }
//     }
//     .inquiries{
//       text-align: center;
//       .mini-header{
//         text-transform: capitalize;
//         padding: 1rem 0;
//         font-style: italic;
//         font-weight: 400;
//       }
//       p{
//         font-size: 1.1rem;
//         color: $main-font-color;
//         max-width: 50%;
//         margin: 0 auto 3rem ;
//         font-weight: 100;
//       }
//     }
//     .form{
//       form{
//         display: grid;
//         max-width: 80%;
//         margin: 0 auto;
//         .full-name > #last-name{
//           grid-row-start: 1;
//           grid-column-start: 2;
//         }
//         .full-name{
//           display: grid;
//           grid-gap:0  2rem;
//         }
//         label{
//           font-size: 1rem;
//           text-transform: capitalize;
//           color: $main-font-color;
//           font-weight: 300;
//         }
//         input, textarea{
//           border: none;
//           border-bottom: 1px solid $main-font-color;
//           background-color: inherit;
//           margin: 1rem 0;
//           outline: none;
//         }
//         textarea{
//           height: 50px;
//         }
//       }
//       input:-webkit-autofill,
//       input:-webkit-autofill:hover,
//       input:-webkit-autofill:focus,
//       input:-webkit-autofill:active{
//     -webkit-box-shadow: 0 0 0 30px $secondary-font-color inset !important;
// }
//       input[type='submit']{
//         -webkit-appearance: button;
//         color: $main-font-color;
//         border: 1px solid $main-font-color;
//         text-align: center;
//         margin: 3rem auto;
//         padding: 1rem 10rem;
//         cursor: pointer;
//         &:hover, &:focus, &:active{
//           background-color: $main-font-color;
//           color: $secondary-font-color;
//         }
//       }
//     }
//   }
// }
.Footer{
  margin: 5rem 1rem;
  .container{
    display: grid;
    grid-template-columns:20% 1fr 25%;
    align-items: baseline;
    .logo a{
      text-decoration: none;
      color: $main-font-color;
      font-weight: 500;
      font-size:1.5rem;
    }
    .links{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      text-align: center;
      li, a{
        text-decoration: none;
        color: $main-font-color;
        list-style: none;
        cursor: pointer;
      }
      .nav-links,.info-links ul, .social-links ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        a,li{
          margin: .5rem 0;
          text-align: center;
          text-transform: capitalize;
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
    .join{
      .header{
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
      }
        form{
          display: flex;
          flex-direction: column;
          label{
            font-size: 1rem;
            color: $main-font-color;
            font-weight: 200;
            margin: 1rem 0;
          }
          input{
            outline: none;
            border: none;
            border-bottom: 1px solid $main-font-color;
            background-color: $background-color;
          }
          input[type='submit']{
            -webkit-appearance: button;
            -moz-appearance:button;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius: 5px;
            padding: 1.25rem 4rem;
            border: 1px solid $main-font-color;
            font-size: 1rem;
            color: $main-font-color;
            background:$item-background-color;
            margin: 2rem 0;
            cursor: pointer;
            &:hover, &:focus, &:active{
              background: $main-font-color;
              color: $secondary-font-color;
            }
          }
        }
    }
  }
}
.sliderWrapper{
  scroll-padding-top:0;
  margin: 5rem 0;
  .topRated{
    font-size: 2rem;
    color: $main-font-color;
    display: flex;
    justify-content: center;
  }
  .Slider{
    .container{
      width: 100vw;
      height: 80vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .swiper-pagination{
        transform:translate3d(0, 4rem , 0)
      }
      .next, .prev{
        top:calc(50% - 20px);
        position: absolute;
        border-radius: 50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        user-select: none;
        justify-content: center;
        cursor:pointer;
        font-weight: bold;
        font-size: 1.125rem;
        z-index: 2;
      }
      .next{
        right: 10px;
      }
      .prev{
        left: 10px;
      }
      .items{
        display:flex;
        overflow:visible;
        gap:1rem;
        width: calc(100vw - 85px * 2);
        // transform: translateX(-100%);
          .item{
            @include item;
            max-width: 240px;
            max-height: 370px;
            padding: 2rem 0;
            transition: none;
            justify-content: unset;
            flex: 0 0 25%;

            .title{
              margin: 1.5rem auto;
              
            }
            .price{
              display: none;
            }
          }
      }
        
      }
  }
}
// .skeletonShop{
//   margin: 7rem 0;
//   .skeletonFilter{
//     margin: 1rem;
//     height: 2.5rem;
//     width: 10rem;
//     background-color: $main-font-color;
//     animation: skeleton 1s ease infinite alternate;
//   }
//   .skeletonProduct{
//     margin:2.5rem 0;
//     .skeletonContainer{
//       width: 90%;
//       margin:auto;
//       .skeletonItems{
//         display: grid;
//         grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
//         grid-column-gap:1rem ;
//         grid-row-gap:2rem;
//         .skeletonItem{
//           @include item;
//           background-color: $main-font-color;
//           animation: skeleton 1s ease infinite alternate;
//           margin: 0;
//         }
//       }
//     }
//   }
// }


@keyframes skeleton {
  to{
    opacity: 0.5;
  }
}
@media screen and (max-width:600px){
  .Nav{
    .logo{
      font-size: 1.2rem;
    }
    .menu{
      margin:0;
    }
  }
  .Home{
    .landing{
      .container{
        top:25%;
        .text{
          font-size: 1.25rem;
        }
      }
    }
    .carousel{
      .Product{
      width: 90%;
      margin: 7rem auto;
      .container{
        overflow: scroll;
        .items{
          grid-auto-columns: 100% !important;
          .item{
            text-align: center;
            margin: auto;
          }
        }
      }
    }
    }

  }
  // .Shop{
  //   .Product{
  //     margin: 2.5rem 0;
  //     .container{
  //       .items{
  //         // display: grid;
  //         // grid-template-columns: repeat(2,1fr);
  //         // grid-gap:1rem;
  //         .item{
  //           // margin: 0;
  //           a #quickView{
  //             // left: 15%;
  //             padding:1rem 2rem;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  .SelectedProduct{
    .container{
      flex-direction: column;
      margin-top:0 !important;
      .image{
        margin: 1rem 0;
        img{
          max-height: 200px;
        }
      }
      .item-info{
        width:90%;
        margin:0 auto;
        .title{
          font-size:1.5rem !important;
        }
        .add-to-cart{
          width:95vw;
        }
      }
    }
    .cartPreview{
      max-width: 70vw;
      margin-bottom:3rem;
    }
  }
  // .Cart{
  //   // height: 100vh;
  //   .msg{
  //     text-decoration: none;
  //     margin:2rem 1rem;
  //   }
  //   .container{
  //     .items{
  //       margin: 1rem 0;
  //       .item{
  //         grid-template-columns: 5% 53% 20% 20%;
  //         .info{
  //           .title{
  //             font-size: 0.8rem;
  //             font-weight: 300;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  .About{
    div .title{
      margin: 3rem 0;
    }
    .container{
      grid-template-columns: 1fr;
      #designer-image{
        grid-column-start: initial;
        grid-row-start: initial;
      }
    }
  }
  // .Contact{
  //   .header{
  //     font-size: 2rem;
  //   }
  //   .container{
  //     .mini-header{
  //       font-size: 1.3rem;
  //     }
  //     .line{
  //       width: 10%;
  //     }
  //     .info{
  //       .store, .hours,.contact{
  //         display: flex;
  //         flex-direction: column;
  //         justify-content: space-between;
  //         .title{
  //           font-size: 1.3rem;
  //           max-width: 70%;
  //           margin: 0 auto;
  //         }
  //         .text{
  //           font-size: .825rem;
  //           font-weight: 200;
  //           max-width: 80%;
  //         }
  //       }
  //     }
  //     .inquiries p{
  //       font-size: .8rem;
  //       max-width: 70%;
  //     }
  //     .form form{
  //       margin: 0 1rem;
  //       max-width: 100%;
  //     }
  //   }
  // }
  .Footer{
    .container{
      grid-template-columns: 1fr;
      text-align:center;
      grid-gap: 1.5rem;
      .links{
        grid-template-columns: inherit;
      }
    }
    }
}
@media screen and (max-width:1024px){
  .Nav{
    padding:0.75rem 1.5rem;
    .links{
      width:65%;
    }
  }
  // .Home{
  //   .carousel{
  //     .Product{
  //       .container{
  //         .items{
  //           grid-auto-columns: 30%;
  //         }
  //       }
  //     }
  //   }
  // }
  .SelectedProduct{
    .container{
      margin-top:10rem;
      .item-info{
        .title{
          font-size:2.5rem;
        }
        .description{
          font-size:1rem;
        }
        .price{
          font-size:1.25rem;
        }
      }
    }
  }
  // .Cart .msg{
  //   margin-left:1.5rem;
  //   font-size:1.25rem
  // }

}
@media screen and (max-width:768px){
  .Nav{
    align-items: unset;
    opacity: 0;
    padding:0.5rem 1rem;
    .links{
    display: flex;
    position: absolute;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 100%;
    color: $main-font-color;
    background-color: $background-color;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path:circle(100px at 90% -10%);
    transition: all .8s ease-in;
    z-index: 200;
    li{
      margin: 1rem 0;
      list-style: none;
      a{
        padding:  0 .5rem;
        font-size: 2rem;
        text-transform: capitalize;
      }
    }

    }
    .open{
      clip-path: circle(1000px at 90% -10%);
          -webkit-clip-path:circle(1000px at 90% -10%) !important;
      a {
          opacity: 1 !important;
      }
    }
    .menu.open .burgerMenu{
      background-color: transparent;
      &::before{
          transform: rotate(45deg) ;
      }
      &::after{
          transform: rotate(-45deg) ;
      }
    }
    .menu{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5s ease-in;
      cursor: pointer;
      line-height: 2rem;
      .mobileMenu{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
      }
    .burgerMenu{
      width: 30px;
      height: 3px;
      background-color: $main-font-color;
      margin-left:1rem;
      transition: all .5s ease-in-out;
      &::before,&::after{
        content:"";
        position: absolute;
        background-color: $main-font-color;
        width: 30px;
        height: 3px;
        transition: all .5s ease-in-out;
      }
      &::before{
        transform:translateY(-10px)
      }
      &::after{
        transform:translateY(10px)
      }
    }
    .cart::after{
      top:-0.8rem;
    }
    }
  }
  // .Home{
  //   .carousel{
  //     .Product{
  //       .container{
  //         .items{
  //           grid-auto-columns: 40%;
  //         }
  //       }
  //     }
  //   }
  // }
  .SelectedProduct{
    .container{
      margin-top:5rem;
      .item-info{
        .title{
          font-size: 2rem;
        }
        .price{
          font-size:1.125rem;
        }
      }
    }
  }
  // .Cart .msg{
  //   margin-left:1rem;
  // }

}

@media screen and (min-width:1024px){
  .Nav .links li{
    opacity: 1 !important;
    transform:none !important;
  }
}