@import './style/Reset.module.css';
$background-color:#f0f4f7;

*{
  padding:0;
}
html{
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  overflow-scrolling: touch;
  overscroll-behavior: contain;
  @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
  }
}
body{
  background-color: $background-color;
  overflow-x: hidden;
  &.no-scroll{
    overflow-y:hidden;
  }
}

