@import '../../../style/Color.module';
.Contact {
    background-color: $white;
    pointer-events: none;
    .container {
        position:relative;
        max-width: 119rem;
        margin: 0 auto;
        padding-top:10rem;
        padding-bottom:5rem;
        padding-left:15rem;
        padding-right:5rem;
        &::after{
            content: '';
            position:absolute;
            top:35%;
            left: 5rem;
            height: 30%;
            width: 0.09rem;
            background-color:$black;
        }
        .form {
            .header {
                font-size: 4.5rem;
                color: $main-font-color;
                font-weight: 600;
                margin: 5rem 0;
                text-align: start;
            }
            form {
                display: flex;
                flex-direction:column;
                gap: 3rem;
                .personalInformation{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    align-items:center;
                    gap: 3rem;
                    .fullName, .email {
                        display: grid;
                        grid-gap: 0 2rem;
                    }
                }
                .message{
                    display: flex;
                    flex-direction: column;
                }
                label {
                    font-size: 1.25rem;
                    color: $main-font-color;
                    font-weight: 400;
                }
                textarea,
                input:not(input[type='button']){
                    border: none;
                    background-color: $light-gray;
                    margin: 1rem 0;
                    outline: none;
                    border: none;
                    padding: 0.75rem 2rem;
                    font-size: 1rem;
                    color: $black;
                    &:active, &:focus{
                        border: 1px solid $black;
                    }
                }
                input:not(input[type='button']){
                    height:100%;
                }
                textarea {
                    height: 10rem;
                }
            }
            input:-webkit-autofill,
            input:-webkit-autofill:active,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:hover {
                -webkit-box-shadow: 0 0 0 50px $light-gray inset !important;
                -moz-box-shadow: 0 0 0 50px $light-gray inset !important;
                box-shadow: 0 0 0 50px $light-gray inset !important;
            }
            input[type='button'] {
                -webkit-appearance: button;
                -moz-appearance: button;
                appearance: button;
                background-color: $main-font-color;
                color: $white;
                text-align: center;
                margin: 5rem 0;
                cursor: pointer;
                height: 3.5rem;
                width: 30vw;
                font-size: 1rem;
            }
        }
    }
}
@media screen and (max-width:1024px){
    .Contact .container{
        padding-left:10rem;
        padding-right:3.3rem;
        padding-top:5rem;
        padding-bottom: 0;
        &::after{
            left: 3rem;
        }
        .form .header{
            font-size: 4rem;
        }
    }
}
@media screen and (max-width:768px){
    .Contact .container .form{
        .header{
            font-size: 2.5rem;
            margin: 2.5rem 0;
        }
        form input[type='button']{
            margin:3rem 0;
            
        }   
    }
}
@media screen and (max-width:600px) {
    .Contact .container{
        padding-right: 2rem;
        padding-left:2.5rem;
        &::after{
            content: none;
        }
        .form {
            .header{
                font-size: 1.75rem;
            }
            form input[type='button']{
                height: 2rem;
                margin: 0;
                margin-bottom: 2rem;
            }
        }
    }
}
